.App{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    min-height: 100%;
    height: 100vh;
}


.result {
    border: 1px solid black;
    max-height: 2rem;
    
}

.inner-result {
    display: flex;
    justify-content: flex-end;
    
}